{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load templatetag%}
{% block content %}

    <style>
        table.highlight>tbody>tr:hover {
            background-color: #7986cb;
        }

        .table_div{
            margin: 2%;
        }

    </style>

    <br>
    <form method='POST' id='location_form' class="center" data-police-stations-url="{% url 'fir:load_police_stations' %}" data-police-stations-url-mat="{% url 'fir:load_police_stations_mat' %}">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.sub_division}}
                <label for="Sub Division">Sub Division</label>
            </div>
        </div>

        <div class="row">
            <div class="col s3 offset-s2">
                <label for="Police Station">Police Station</label>
            </div>
            <br><br>
            <div class="col s6 offset-s3 police_station_dropdown" style="border-bottom: 1px solid black;">
                {{form.police_station|add_class:'browser-default  indigo lighten-5'}}
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
         Submit <i class="material-icons right">send</i>
        </button>

    </form>

    <br><br>

    <div class="table_div">
        <table class="centered responsive-table highlight">
            <thead class="indigo lighten-2">
                <tr>
                    <th>Fir No.</th>
                    <th>Date Registered</th>
                    <th>Investigating Officer</th>
                    <th>Accused Name</th>
                    <th>Accused Status</th>
                    <th>Limitation Period</th>
                    <th>Current Status</th>
                    <th>SSP Approved</th>
                    <th>Submitted in Court</th>
                    <th>Date of Submission in Court</th>
                    <th>Received in Court</th>
                    <th>Date of Receiving by Court</th>
                    <th>Status in Court</th>
                    <th>Date of Reverting by Court</th>
                    <th>Date of Receiving in Police Station</th>
                    <th>New Appointed Investigating Officer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for fir in fir_list %}
                    <tr>

                        <td>{{fir.fir_no}}</td>

                        <td>{{fir.date_created|date:'d-m-y'}}</td>

                        {% if fir.io_name %}
                            <td>{{fir.io_name}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.accused_name %}
                            <td>{{fir.accused_name}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.accused_status == "arrested" %}
                            <td>Arrested</td>
                        {% elif fir.accused_status == "not_arrested" %}
                            <td>Not-Arrested</td>
                        {% elif fir.accused_status == "po" %}
                            <td>P.O.</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        
                        {% if fir.limitation_period %}
                            <td>{{fir.limitation_period}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.current_status == "challan_filed" %}
                            <td>Challan Filed</td>
                        {% elif fir.current_status == "untraced" %}
                            <td>Untraced</td>
                        {% elif fir.current_status == "under_investigation" %}
                            <td>Under Investigation</td>
                        {% elif fir.current_status == "cancelled" %}
                            <td>Cancelled</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.ssp_approved %}
                            <td><i class="material-icons green-text text-darken-4">check</i></td>
                        {% else %}
                            <td><i class="material-icons red-text">close</i></td>
                        {% endif %}

                        {% if fir.put_in_court %}
                            <td><i class="material-icons green-text text-darken-4">check</i></td>
                        {% else %}
                            <td><i class="material-icons red-text">close</i></td>
                        {% endif %}

                        {% if fir.put_in_court_date %}
                            <td>{{fir.put_in_court_date|date:'d-m-y'}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.received_in_court %}
                            <td><i class="material-icons green-text text-darken-4">check</i></td>
                        {% else %}
                            <td><i class="material-icons red-text">close</i></td>
                        {% endif %}

                        {% if fir.received_in_court_date %}
                            <td>{{fir.received_in_court_date|date:'d-m-y'}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.court_status == "pending" %}
                            <td>Pending</td>
                        {% elif fir.court_status == "accepted" %}
                            <td>Accepted</td>
                        {% elif fir.court_status == "reinvestigation" %}
                            <td>Re-investigation</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.reverted_by_court_date %}
                            <td>{{fir.reverted_by_court_date|date:'d-m-y'}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.received_from_court_date %}
                            <td>{{fir.received_from_court_date|date:'d-m-y'}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        {% if fir.appointed_io %}
                            <td>{{fir.appointed_io}}</td>
                        {% else %}
                            <td><i class="material-icons black-text">remove</i></td>
                        {% endif %}

                        <td>
                            <a href="{% url 'fir:update_fir_court' pk=fir.pk sub_division_pk=fir.sub_division.pk police_station_pk=fir.police_station.pk %}" class="btn-floating btn waves-effect waves-light indigo">
                                <i class="material-icons">edit</i>
                            </a>   
                        </td>
                    </tr>

                    {% if fir.pk|is_last_phase %}
                        <tr class="indigo lighten-4">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    <div>
{% endblock content %}


{% block tail %}
    <script>
        
        /*
        $(".police_station_dropdown li").click(function(){
            $(".police_station_dropdown li").removeClass("selected");
            $(this).addClass("selected");
        });
        */


        $("#id_sub_division").change(function(){
            var url = $("#location_form").attr("data-police-stations-url");
            var url_mat = $("#location_form").attr("data-police-stations-url-mat");
            var sub_division_pk =  $(this).val();
            //var mat_dropdown_ul_id = $(".police_station_dropdown ul")[0].id;
            //var mat_dropdown_ul_id_sym = "#" + $(".police_station_dropdown ul")[0].id;


            /*
            $.ajax({
                url: url_mat,
                data: {
                    'mat_dropdown_ul_id': mat_dropdown_ul_id,
                    'sub_division': sub_division_pk
                },
                success: function(data){
                    $(mat_dropdown_ul_id_sym).html(data);
                }
            });
            */


            $.ajax({
                url: url,
                data: {
                    'sub_division': sub_division_pk
                },
                success: function(data){
                    $("#id_police_station").html(data);
                }
            });

            
        });
    </script>
{% endblock tail %}