{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <br>
    <form method='POST' class='center'>
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.io_name}}
                <label for="Investigating Officer">Investigating Officer</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.accused_name|add_class:'materialize-textarea'}}
                <label for="Accused Name">Accused Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.under_section}}
                <label for="Under Section">Under Section</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.accused_status}}
                <label for="Accused Status">Accused Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.limitation_period}}
                <label for="Limitation Period">Limitation Period</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.current_status}}
                <label for="Current Status">Current Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3"> 
                <label for="id_put_in_ssp_office">
                    {{form.put_in_ssp_office}}
                    <span>Submitted in SSP Office</span>
                </label>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.put_in_ssp_office_date|add_class:'datepicker'}}
                <label for="Date of submission to the SSP Office">Date of submission to the SSP Office</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3"> 
                <label for="id_put_in_court">
                    {{form.put_in_court}}
                    <span>Submitted in Court</span>
                </label>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.put_in_court_date|add_class:'datepicker'}}
                <label for="Date of submission to the Court">Date of submission to the Court</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.received_from_court_date|add_class:'datepicker'}}
                <label for="Date of Receiving in Police Station">Date of Receiving in Police Station</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{form.appointed_io}}
                <label for="Appointed Investigating Officer">Appointed Investigating Officer for Re-investigation</label>
            </div>
        </div>


        <button class="btn waves-effect waves-light" type="submit">
         Submit <i class="material-icons right">send</i>
        </button>
    </form>
    <br><br><br><br>
{% endblock content %}