{% if pagination_object.has_other_pages %}
    <ul class="pagination">
        {% if pagination_object.has_previous %}
            <li><a href="javascript:void(0)" class="page-link" data-page-number="{{ pagination_object.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in pagination_object.paginator.page_range %}
            {% if pagination_object.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="javascript:void(0)" class="page-link" data-page-number="{{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if pagination_object.has_next %}
            <li><a href="javascript:void(0)" class="page-link" data-page-number="{{ pagination_object.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}

<script>
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    $('a.page-link').click(function() {
        var page_number = $(this).attr('data-page-number');
        updated_query_string_parameter = updateQueryStringParameter(window.location.href, "page", page_number)
        window.location.href = updated_query_string_parameter;
    })
</script>