<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIR Monitoring System</title>


    <!-- Compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    {% block head %} 
    {% endblock head %}
</head>

<body class="teal lighten-5">
    {% block nav %} 
    {% endblock nav %}

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="{% url 'home' %}" class="left brand-logo">&nbsp;FIR Tracking System</a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        {% if user.pk in police_station_record_keepers %}
                            <li><a href="{% url 'fir:create_fir' %}">Register FIR</a></li>
                            <li><a href="{% url 'fir:list_firs_police_station' %}">View FIRs</a></li>
                        {% endif %}
                        {% if user.pk in court_record_keepers %}
                            <li><a href="{% url 'fir:list_firs_court' %}">View FIRs</a></li>
                        {% endif %}
                        {% if user.pk in ssp_record_keepers %}
                            <li><a href="{% url 'fir:list_firs_ssp' %}">View FIRs</a></li>
                        {% endif %}
                        <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'account:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="hide-on-med-and-down">
        {% block content %} 
        {% endblock content %}
    </div>

    <div class="hide-on-large-only">
        <h4 class="center">The Tracking System is a Desktop only software. Kindly use it on a screen size of >992px</h4>
    </div>

    {% block tail %} 
    {% endblock tail %}

    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>


</body>

</html>